.site-header {
  padding: 5px 0;
  
  .navbar-nav {
    & > li {
      padding-bottom: 8px;
      padding-top: 8px;
    }

    & > li > a {
      font-weight: bold;
      padding-bottom: 7px;
      padding-top: 7px;

      &:hover {
        background: none;
      }

      &.btn {
        font-weight: normal;
      }
    }
  }
}