<div id="home-content">
  <div class="about">
    <div class="container">
      <h1>Twittler</h1>
      <p class="lead">Congratulations you are a winner! If you sign up now, you will be human user numero uno.</p>
      <a href="#" class="btn btn-lg btn-outline-inverse open-set-username">Start Twittlering</a>
    </div>
  </div>

  <div id="stream-wrapper" class="container">
    <div class="stream-header">
      <h2>Recent Twittlers</h2>
      <span class="hint">@hint | click on a name to see tweets by just that twittler</span>
    </div>

    <!-- Stream will be appended here -->
  </div>
</div>