<div class="site-header"></div>

<div class="chatty-chatboxes">
  <div class="chatty-chatbox">
    <div class="content">
      <div class="chatty-newmessage new-tweet">
        
      </div>

      <div class="chatty-list">
        <ul class="messages stream">
        </ul>
      </div>

      <div class="welcome overlay animated">
        <div class="content">
          <p>Welcome to Twittler. Set your username to start tweeting.</p>
          <form name="setup" class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only">Set Username</label>
              <input type="text" placeholder="your username" class="form-control" name="username" required/>
            </div>
            <button class="btn btn-primary setusername">set</button>  
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-footer"></div>