<div id="realm">
  <header class="site-header">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Twittler</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation" data-toggle="collapse">
        <ul class="nav navbar-nav">
          <li><a href="/#">Home</a></li>
          <li><a href="/#stream">Stream</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="btn btn-outline login">Choose your username</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <div id="main"></div>
</div>
<div class="site-footer">
  <div class="container"></div>
</div>